body{
    background-color: #FFF5EB;
    text-align: center;
}
h1{
    color: #252A34;
    font-family: 'Sacramento', cursive;
    margin: 150px auto 0px auto;
    font-size: 6.25rem;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
}
.coding-img{
    width:300px;
    position:absolute;
    left:300px;
    margin:60px auto;
}
.top-img1{
    width:100px;
    position:absolute;
    top:70px;
    left:400px;
}
.top-img2{
    width:100px;
    position:absolute;
    top:70px;
    right:380px;
}
.coding2-img{
    width:300px;
    position:absolute;
    right:300px;
    margin:60px auto;
}
.pro{
    color: #FF616D
}
/*
.top-conatiner{
}
*/
.middle-container{
    background-color: red;
    margin:500px;
}